<article class="product">
  <header>
    <%= link_to product do %>
      <% @imgurl = image_url product.image.thumb, host: "https://s3.ca-central-1.amazonaws.com/junglebook/" %>
      <%= image_tag @imgurl, alt: product.name %>
      <h4><%= product.name %></h4>
    <% end %>
  </header>
  <p class="description">
    <%= product.description %>
  </p>
  <footer class="actions">
    <% if product.quantity > 0 %>
      <%= link_to add_item_cart_path(product_id: product.id), class: 'btn btn-success', method: :put do %>
        <%= fa_icon "shopping-cart", text: 'Add' %>
      <% end %>
    <% else %>
      <%= link_to add_item_cart_path(product_id: product.id), class: 'btn btn-default disabled', method: :put do %>
        <%= fa_icon "shopping-cart", text: 'Add' %>
      <% end %>
    <% end %>
    <% if product.reviews.any? %>
      <a class='btn btn-successful'>
        <%= fa_icon "star", text: "#{product.reviews.average(:rating)}" %>
        <%=  %>
      </a>
    <% end %>
    <%= link_to product, class: 'btn btn-default pull-right' do %>
      Details &raquo;
    <% end %>
  </footer>

  <aside class="price">
    <%= humanized_money_with_symbol product.price %>
  </aside>
  <% if product.quantity < 1 %>
  <aside class="soldout">
    <p>SOLDOUT</p>
  </aside>
  <% end %>
</article>
